@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
html,
body {
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}
/* header navbar  */
.header-container {
  height: 9.5vh;
  width: 100%;
  margin: 0vw;
  display: flex;
}
.list-item {
  margin-top: 2.5vh;
  margin-right: 2.2vh;
  list-style: none;
}
.header-item:hover {
  color: #7bada1;
}
.header-item {
  font-family: "Amatic SC", cursive;
  color: black;
  text-decoration: none;
  font-size: 2.2vw;
  letter-spacing: 0.2vw;
}
.signInBtn {
  width: 9vw;
  height: 6vh;
  margin-top: 1.5vh;
  background-color: black;
  border: none;
  margin-right: 1vw;
}
.header-main-container {
  display: flex;
  background-color: rgb(223, 217, 217);
}
.signInBtn:hover {
  background-color: white;
  color: black;
}
.startNow-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.startBtn {
  margin-top: 2vh;
  margin-right: 2vh;
  font-family: "Patrick Hand", cursive;
}
/* ----------------------------------- */
/* home */

.home-container {
  display: flex;
  justify-content: space-around;
}
.welcome-header {
  font-family: "Amatic SC", cursive;
  font-size: 5vw;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.illustrations-container {
  position: relative;
}
.illustrations-container > img {
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}
.illustrations-container:hover .overlay {
  opacity: 1;
}
.text {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-text {
  text-decoration: none;
  color: #7bada1;
}
.overlay-text:hover {
  color: #7bada1;
}
.logo {
  width: 6rem;
  height: 4.5rem;
}
/* --------------------------------------- */

/* add post + edit post*/
.title {
  border: solid rgb(151, 149, 149) 1px;
}
.quill {
  height: 12rem;
  margin-bottom: 3rem;
  border: solid rgb(151, 149, 149) 1px;
}
.add-button {
  background-color: #7bada1;
  border-color: #7bada1;
}
/* .background-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
} */
/* .background-container > img {
  width: 100%;
  opacity: 0.3;
} */
.background-post {
  content: "";
  background: url(../images/image.jpg);
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* my site */
.post {
  padding-left: 2vw;
  text-decoration: none;
  color: black;
}
.post:hover {
  text-decoration: none;
  color: black;
}
.post-collection-container {
  min-height: 100%;
  margin-bottom: 5vh;
}
.posts-header {
  font-family: "Amatic SC", cursive;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  color: #7bada1;
}
.background-mysite {
  content: "";
  background: url(../images/bg.jpg);
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
   background-repeat: no-repeat;
}
.posts-list {
  margin-top: 2rem;
  list-style: none;
  text-align: center;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.close-x {
  cursor: pointer;
}

.post-title {
  font-family: "Patrick Hand", cursive;
  padding: 2vh;
  font-size: 1.4rem;
  background-color: transparent;
  border-bottom: black solid 1px;
  width: 30vw;
  /* border-radius: 50%; */
  text-align: center;
}
/* ------------------------------------ */
/* post */
.post-content > p > img {
  max-width: 20vw;
}

.post-main-container {
  margin-top: 10vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #7bada1;
  border-color: #7bada1;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}
/* Footer */
footer {
  /* font-family: "Amatic SC", cursive; */
  font-size: 1.5vw;
  background-color: #dfd9d9;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.icons-container {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

/* responsiveness */

@media only screen and (max-device-width: 640px) {
  /* header navbar  */
  .header-main-container {
    height: 8.5vh;
  }
  .header-container {
    justify-content: flex-start;
    padding-left: 5vw;
  }
  .list-item {
    margin-top: 2.2vh;
    margin-right: 1.5vw;
  }
  .header-item {
    font-size: 2.4vh;
    letter-spacing: 0vw;
  }
  .signInBtn {
    width: 23vw;
    margin-top: 1vh;
    margin-right: 1vw;
  }
  .startBtn {
    margin-top: 1.5vh;
    margin-right: 1vh;
  }

  /* ----------------------------------- */
  /* home */

  .home-container {
    display: flex;
    flex-direction: column;
  }
  .welcome-header {
    margin-top: 5vh;
    font-size: 4vh;
  }
  .illustrations-container {
    position: relative;
  }
  .illustrations-container > img {
    height: 12rem;
    width: 12rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: white;
  }
  .illustrations-container:hover .overlay {
    opacity: 1;
  }
  .text {
    font-family: "Amatic SC", cursive;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }
  /* --------------------------------------- */

  /* add post + edit post*/
  .quill {
    height: 12rem;
    margin-bottom: 3rem;
  }
  .add-button {
    background-color: #7bada1;
    border-color: #7bada1;
  }
  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: fit-content;
  }
  .background-container > img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  /* my site */

  .posts-header {
    font-size: 8vw;
  }
  .posts-list {
    padding-left: 0;
  }
  .post-title {
    font-size: 1.4rem;
    width: 50vw;
  }
  /* ------------------------------------ */
  /* post */
  /* .post-container {
  margin-top: 1rem;
  margin-left: 3rem;
} */
  .post {
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
  }
  .post:hover {
    text-decoration: none;
    color: black;
  }

  .post-main-container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    background-color: #7bada1;
    border-color: #7bada1;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-device-width: 768px) {
  footer {
    margin-top: 38vh;
  }
}
